USE [master]
GO
/****** Object:  Database [Comfort]    Script Date: 24.03.2026 13:44:25 ******/
CREATE DATABASE [Comfort]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comfort', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\Comfort.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Comfort_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\Comfort_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comfort].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comfort]
GO
/****** Object:  Table [dbo].[DiscountPartners]    Script Date: 24.03.2026 13:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountPartners](
	[Id_discount] [int] IDENTITY(1,1) NOT NULL,
	[Id_partner] [int] NULL,
	[TotalSalesValue] [decimal](10, 2) NULL,
	[Discount] [decimal](3, 2) NULL,
	[CalculationDate] [datetime] NULL,
 CONSTRAINT [PK_DiscountPartners] PRIMARY KEY CLUSTERED 
(
	[Id_discount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id_employee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Patronumic] [nvarchar](max) NULL,
	[Birthday] [date] NULL,
	[PassportSeria] [nvarchar](max) NULL,
	[PassportNumber] [nvarchar](max) NULL,
	[BankDetails] [nvarchar](max) NULL,
	[Id_family] [int] NULL,
	[Id_health] [int] NULL,
	[Id_role] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyStatus]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyStatus](
	[Id_status] [int] IDENTITY(1,1) NOT NULL,
	[NmaeStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_FamilyStatus] PRIMARY KEY CLUSTERED 
(
	[Id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health](
	[Id_health] [int] IDENTITY(1,1) NOT NULL,
	[NameHealth] [nvarchar](max) NULL,
 CONSTRAINT [PK_Health] PRIMARY KEY CLUSTERED 
(
	[Id_health] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[Id_login] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Id_user] [int] NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[Id_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Id_partner] [int] IDENTITY(1,1) NOT NULL,
	[NamePartner] [nvarchar](max) NULL,
	[Id_type] [int] NULL,
	[UrAdress] [nvarchar](max) NULL,
	[INN] [nvarchar](max) NULL,
	[SurnameDirector] [nvarchar](max) NULL,
	[NameDirector] [nvarchar](max) NULL,
	[PatronumicDirector] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Raiting] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[Id_partner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id_product] [int] IDENTITY(1,1) NOT NULL,
	[Articul] [nvarchar](max) NULL,
	[NameProduct] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[MinPrice] [decimal](10, 2) NULL,
	[Id_size] [int] NULL,
	[WeightNETTO] [nvarchar](max) NULL,
	[WeightBRUTTO] [nvarchar](max) NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[Id_type] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsMaterial]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsMaterial](
	[Id_prodmaterial] [int] IDENTITY(1,1) NOT NULL,
	[Id_material] [int] NULL,
	[Id_product] [int] NULL,
 CONSTRAINT [PK_ProductsMaterial] PRIMARY KEY CLUSTERED 
(
	[Id_prodmaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id_prodtype] [int] IDENTITY(1,1) NOT NULL,
	[NameProdType] [nvarchar](max) NULL,
	[Coefficient] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id_prodtype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWorkshop]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWorkshop](
	[Id_prodwork] [int] IDENTITY(1,1) NOT NULL,
	[Id_product] [int] NULL,
	[Id_workshop] [int] NULL,
	[TimeMake] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductWorkshop] PRIMARY KEY CLUSTERED 
(
	[Id_prodwork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id_request] [int] IDENTITY(1,1) NOT NULL,
	[Id_partner] [int] NULL,
	[Manager] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Id_status] [int] NULL,
	[TotalAmountReq] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id_request] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestDetails]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestDetails](
	[Id_detailsreq] [int] IDENTITY(1,1) NOT NULL,
	[Id_request] [int] NULL,
	[Id_product] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_RequestDetails] PRIMARY KEY CLUSTERED 
(
	[Id_detailsreq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id_role] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleHistory]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleHistory](
	[Id_sale] [int] IDENTITY(1,1) NOT NULL,
	[Id_product] [int] NULL,
	[Quantity] [int] NULL,
	[Id_point] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
 CONSTRAINT [PK_SaleHistory] PRIMARY KEY CLUSTERED 
(
	[Id_sale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalePoint]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalePoint](
	[Id_point] [int] IDENTITY(1,1) NOT NULL,
	[NamePoint] [nvarchar](max) NULL,
	[AdressPoint] [nvarchar](max) NULL,
	[Id_partner] [int] NULL,
 CONSTRAINT [PK_SalePoint] PRIMARY KEY CLUSTERED 
(
	[Id_point] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeUpakovka]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeUpakovka](
	[Id_size] [int] IDENTITY(1,1) NOT NULL,
	[Width] [nvarchar](max) NULL,
	[Height] [nvarchar](max) NULL,
	[Length] [nvarchar](max) NULL,
 CONSTRAINT [PK_SizeUpakovka] PRIMARY KEY CLUSTERED 
(
	[Id_size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id_status] [int] IDENTITY(1,1) NOT NULL,
	[NameStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMaterial]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMaterial](
	[Id_type_material] [int] IDENTITY(1,1) NOT NULL,
	[Name_material] [nvarchar](max) NULL,
	[LostProcent] [decimal](5, 2) NULL,
 CONSTRAINT [PK_TypeMaterial] PRIMARY KEY CLUSTERED 
(
	[Id_type_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfBusiness]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfBusiness](
	[Id_type] [int] IDENTITY(1,1) NOT NULL,
	[NameBusiness] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeOfBusiness] PRIMARY KEY CLUSTERED 
(
	[Id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeWorkshop]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeWorkshop](
	[Id_type_workshop] [int] IDENTITY(1,1) NOT NULL,
	[NameTypeWorkshop] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeWorkshop] PRIMARY KEY CLUSTERED 
(
	[Id_type_workshop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshop]    Script Date: 24.03.2026 13:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshop](
	[Id_workshop] [int] IDENTITY(1,1) NOT NULL,
	[NameWorkshop] [nvarchar](max) NULL,
	[CountPeople] [int] NULL,
	[Id_type] [int] NULL,
	[Id_employee] [int] NULL,
 CONSTRAINT [PK_Workshop] PRIMARY KEY CLUSTERED 
(
	[Id_workshop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiscountPartners] ON 

INSERT [dbo].[DiscountPartners] ([Id_discount], [Id_partner], [TotalSalesValue], [Discount], [CalculationDate]) VALUES (1, 1, CAST(482780.00 AS Decimal(10, 2)), CAST(0.05 AS Decimal(3, 2)), CAST(N'2026-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[DiscountPartners] ([Id_discount], [Id_partner], [TotalSalesValue], [Discount], [CalculationDate]) VALUES (2, 2, CAST(216907.00 AS Decimal(10, 2)), CAST(0.03 AS Decimal(3, 2)), CAST(N'2026-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[DiscountPartners] ([Id_discount], [Id_partner], [TotalSalesValue], [Discount], [CalculationDate]) VALUES (3, 3, CAST(299860.00 AS Decimal(10, 2)), CAST(0.05 AS Decimal(3, 2)), CAST(N'2026-01-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DiscountPartners] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id_employee], [Name], [Surname], [Patronumic], [Birthday], [PassportSeria], [PassportNumber], [BankDetails], [Id_family], [Id_health], [Id_role]) VALUES (1, N'Иван', N'Петров', N'Иванович', CAST(N'1985-03-15' AS Date), N'1234', N'567890', N'40817810000000000001', 2, 1, 1)
INSERT [dbo].[Employee] ([Id_employee], [Name], [Surname], [Patronumic], [Birthday], [PassportSeria], [PassportNumber], [BankDetails], [Id_family], [Id_health], [Id_role]) VALUES (2, N'Елена', N'Смирнова', N'Алексеевна', CAST(N'1990-07-22' AS Date), N'2345', N'678901', N'40817810000000000002', 2, 2, 2)
INSERT [dbo].[Employee] ([Id_employee], [Name], [Surname], [Patronumic], [Birthday], [PassportSeria], [PassportNumber], [BankDetails], [Id_family], [Id_health], [Id_role]) VALUES (3, N'Михаил', N'Кузнецов', N'Дмитриевич', CAST(N'1988-11-10' AS Date), N'3456', N'789012', N'40817810000000000003', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[FamilyStatus] ON 

INSERT [dbo].[FamilyStatus] ([Id_status], [NmaeStatus]) VALUES (1, N'Single')
INSERT [dbo].[FamilyStatus] ([Id_status], [NmaeStatus]) VALUES (2, N'Married')
INSERT [dbo].[FamilyStatus] ([Id_status], [NmaeStatus]) VALUES (3, N'Divorced')
SET IDENTITY_INSERT [dbo].[FamilyStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Health] ON 

INSERT [dbo].[Health] ([Id_health], [NameHealth]) VALUES (1, N'Здоров')
INSERT [dbo].[Health] ([Id_health], [NameHealth]) VALUES (2, N'Частично здоров')
INSERT [dbo].[Health] ([Id_health], [NameHealth]) VALUES (3, N'Инвалид 1 группы')
SET IDENTITY_INSERT [dbo].[Health] OFF
GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([Id_login], [Login], [Password], [Id_user]) VALUES (1, N'admin1', N'1', 1)
INSERT [dbo].[Logins] ([Id_login], [Login], [Password], [Id_user]) VALUES (2, N'manager1', N'1', 2)
INSERT [dbo].[Logins] ([Id_login], [Login], [Password], [Id_user]) VALUES (3, N'manager2', N'1', 3)
SET IDENTITY_INSERT [dbo].[Logins] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([Id_partner], [NamePartner], [Id_type], [UrAdress], [INN], [SurnameDirector], [NameDirector], [PatronumicDirector], [Phone], [Email], [Logo], [Raiting]) VALUES (1, N'Мебель-Стиль', 1, N'г. Москва, ул. Тверская, д. 15', N'770123456789', N'Иванов', N'Сергей', N'Петрович', N'+7 (495) 123-45-67', N'info@mebel-style.ru', N'logo1.png', CAST(4.50 AS Decimal(5, 2)))
INSERT [dbo].[Partners] ([Id_partner], [NamePartner], [Id_type], [UrAdress], [INN], [SurnameDirector], [NameDirector], [PatronumicDirector], [Phone], [Email], [Logo], [Raiting]) VALUES (2, N'Дом Мебели', 2, N'г. Санкт-Петербург, Невский пр., д. 50', N'780123456789', N'Петрова', N'Анна', N'Игоревна', N'+7 (812) 234-56-78', N'contact@dommebeli.ru', N'logo2.png', CAST(4.20 AS Decimal(5, 2)))
INSERT [dbo].[Partners] ([Id_partner], [NamePartner], [Id_type], [UrAdress], [INN], [SurnameDirector], [NameDirector], [PatronumicDirector], [Phone], [Email], [Logo], [Raiting]) VALUES (3, N'Мебель-Онлайн', 3, N'г. Екатеринбург, ул. Ленина, д. 23', N'660123456789', N'Смирнов', N'Алексей', N'Владимирович', N'+7 (343) 345-67-89', N'sales@mebel-online.ru', N'logo3.png', CAST(4.80 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id_product], [Articul], [NameProduct], [Description], [MinPrice], [Id_size], [WeightNETTO], [WeightBRUTTO], [CostPrice], [Id_type]) VALUES (1, N'1549922', N'Комплект мебели для гостиной Ольха горная', N'Современный комплект мебели для гостиной из массива ольхи', CAST(160507.00 AS Decimal(10, 2)), 3, N'120', N'150', CAST(110000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Products] ([Id_product], [Articul], [NameProduct], [Description], [MinPrice], [Id_size], [WeightNETTO], [WeightBRUTTO], [CostPrice], [Id_type]) VALUES (2, N'1018556', N'Стенка для гостиной Вишня темная', N'Элегантная стенка в темных тонах', CAST(216907.00 AS Decimal(10, 2)), 4, N'140', N'180', CAST(150000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Products] ([Id_product], [Articul], [NameProduct], [Description], [MinPrice], [Id_size], [WeightNETTO], [WeightBRUTTO], [CostPrice], [Id_type]) VALUES (3, N'3028272', N'Прихожая Венге Винтаж', N'Стильная прихожая в стиле винтаж', CAST(24970.00 AS Decimal(10, 2)), 2, N'45', N'60', CAST(18000.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductsMaterial] ON 

INSERT [dbo].[ProductsMaterial] ([Id_prodmaterial], [Id_material], [Id_product]) VALUES (1, 1, 1)
INSERT [dbo].[ProductsMaterial] ([Id_prodmaterial], [Id_material], [Id_product]) VALUES (2, 1, 2)
INSERT [dbo].[ProductsMaterial] ([Id_prodmaterial], [Id_material], [Id_product]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[ProductsMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id_prodtype], [NameProdType], [Coefficient]) VALUES (1, N'Гостиные', N'3.5')
INSERT [dbo].[ProductType] ([Id_prodtype], [NameProdType], [Coefficient]) VALUES (2, N'Прихожие', N'5.6')
INSERT [dbo].[ProductType] ([Id_prodtype], [NameProdType], [Coefficient]) VALUES (3, N'Мягкая мебель', N'3')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductWorkshop] ON 

INSERT [dbo].[ProductWorkshop] ([Id_prodwork], [Id_product], [Id_workshop], [TimeMake]) VALUES (1, 10, 8, N'2')
INSERT [dbo].[ProductWorkshop] ([Id_prodwork], [Id_product], [Id_workshop], [TimeMake]) VALUES (2, 20, 8, N'2.7')
INSERT [dbo].[ProductWorkshop] ([Id_prodwork], [Id_product], [Id_workshop], [TimeMake]) VALUES (3, 6, 9, N'4.2')
GO
SET IDENTITY_INSERT [dbo].[ProductWorkshop] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([Id_request], [Id_partner], [Manager], [RequestDate], [Id_status], [TotalAmountReq]) VALUES (1, 1, 2, CAST(N'2026-02-15T10:30:00.000' AS DateTime), 5, CAST(487414.00 AS Decimal(10, 2)))
INSERT [dbo].[Request] ([Id_request], [Id_partner], [Manager], [RequestDate], [Id_status], [TotalAmountReq]) VALUES (2, 2, 3, CAST(N'2026-02-20T14:15:00.000' AS DateTime), 5, CAST(216907.00 AS Decimal(10, 2)))
INSERT [dbo].[Request] ([Id_request], [Id_partner], [Manager], [RequestDate], [Id_status], [TotalAmountReq]) VALUES (3, 3, 2, CAST(N'2026-02-25T09:45:00.000' AS DateTime), 5, CAST(120345.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestDetails] ON 

INSERT [dbo].[RequestDetails] ([Id_detailsreq], [Id_request], [Id_product], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[RequestDetails] ([Id_detailsreq], [Id_request], [Id_product], [Quantity]) VALUES (2, 1, 3, 2)
INSERT [dbo].[RequestDetails] ([Id_detailsreq], [Id_request], [Id_product], [Quantity]) VALUES (3, 1, 6, 1)
SET IDENTITY_INSERT [dbo].[RequestDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id_role], [NameRole]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id_role], [NameRole]) VALUES (2, N'Manager')
INSERT [dbo].[Role] ([Id_role], [NameRole]) VALUES (3, N'Production Worker')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleHistory] ON 

INSERT [dbo].[SaleHistory] ([Id_sale], [Id_product], [Quantity], [Id_point], [Amount]) VALUES (1, 1, 2, 1, CAST(321014.00 AS Decimal(10, 2)))
INSERT [dbo].[SaleHistory] ([Id_sale], [Id_product], [Quantity], [Id_point], [Amount]) VALUES (2, 2, 1, 3, CAST(216907.00 AS Decimal(10, 2)))
INSERT [dbo].[SaleHistory] ([Id_sale], [Id_product], [Quantity], [Id_point], [Amount]) VALUES (3, 3, 3, 5, CAST(74910.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SaleHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[SalePoint] ON 

INSERT [dbo].[SalePoint] ([Id_point], [NamePoint], [AdressPoint], [Id_partner]) VALUES (1, N'Мебель-Стиль Тверская', N'г. Москва, ул. Тверская, д. 15', 1)
INSERT [dbo].[SalePoint] ([Id_point], [NamePoint], [AdressPoint], [Id_partner]) VALUES (2, N'Мебель-Стиль Ленинский', N'г. Москва, Ленинский пр-т, д. 78', 1)
INSERT [dbo].[SalePoint] ([Id_point], [NamePoint], [AdressPoint], [Id_partner]) VALUES (3, N'Дом Мебели Невский', N'г. Санкт-Петербург, Невский пр., д. 50', 2)
SET IDENTITY_INSERT [dbo].[SalePoint] OFF
GO
SET IDENTITY_INSERT [dbo].[SizeUpakovka] ON 

INSERT [dbo].[SizeUpakovka] ([Id_size], [Width], [Height], [Length]) VALUES (1, N'0.5', N'0.3', N'0.4')
INSERT [dbo].[SizeUpakovka] ([Id_size], [Width], [Height], [Length]) VALUES (2, N'0.8', N'0.5', N'0.6')
INSERT [dbo].[SizeUpakovka] ([Id_size], [Width], [Height], [Length]) VALUES (3, N'1.0', N'0.6', N'0.8')
SET IDENTITY_INSERT [dbo].[SizeUpakovka] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id_status], [NameStatus]) VALUES (1, N'New')
INSERT [dbo].[Status] ([Id_status], [NameStatus]) VALUES (2, N'Processing')
INSERT [dbo].[Status] ([Id_status], [NameStatus]) VALUES (3, N'Confirmed')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeMaterial] ON 

INSERT [dbo].[TypeMaterial] ([Id_type_material], [Name_material], [LostProcent]) VALUES (1, N'Мебельный щит из массива дерева', CAST(0.01 AS Decimal(5, 2)))
INSERT [dbo].[TypeMaterial] ([Id_type_material], [Name_material], [LostProcent]) VALUES (2, N'Ламинированное ДСП', CAST(0.01 AS Decimal(5, 2)))
INSERT [dbo].[TypeMaterial] ([Id_type_material], [Name_material], [LostProcent]) VALUES (3, N'Фанера', CAST(0.01 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[TypeMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfBusiness] ON 

INSERT [dbo].[TypeOfBusiness] ([Id_type], [NameBusiness]) VALUES (1, N'Retail Store')
INSERT [dbo].[TypeOfBusiness] ([Id_type], [NameBusiness]) VALUES (2, N'Furniture Showroom')
INSERT [dbo].[TypeOfBusiness] ([Id_type], [NameBusiness]) VALUES (3, N'Online Store')
SET IDENTITY_INSERT [dbo].[TypeOfBusiness] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeWorkshop] ON 

INSERT [dbo].[TypeWorkshop] ([Id_type_workshop], [NameTypeWorkshop]) VALUES (1, N'Проектирование')
INSERT [dbo].[TypeWorkshop] ([Id_type_workshop], [NameTypeWorkshop]) VALUES (2, N'Обработка')
INSERT [dbo].[TypeWorkshop] ([Id_type_workshop], [NameTypeWorkshop]) VALUES (3, N'Сушка')
SET IDENTITY_INSERT [dbo].[TypeWorkshop] OFF
GO
SET IDENTITY_INSERT [dbo].[Workshop] ON 

INSERT [dbo].[Workshop] ([Id_workshop], [NameWorkshop], [CountPeople], [Id_type], [Id_employee]) VALUES (1, N'Проектный', 4, 1, 5)
INSERT [dbo].[Workshop] ([Id_workshop], [NameWorkshop], [CountPeople], [Id_type], [Id_employee]) VALUES (2, N'Расчетный', 5, 1, 5)
INSERT [dbo].[Workshop] ([Id_workshop], [NameWorkshop], [CountPeople], [Id_type], [Id_employee]) VALUES (3, N'Раскроя', 5, 2, 5)
SET IDENTITY_INSERT [dbo].[Workshop] OFF
GO
ALTER TABLE [dbo].[DiscountPartners]  WITH CHECK ADD  CONSTRAINT [FK_DiscountPartners_Partners] FOREIGN KEY([Id_partner])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiscountPartners] CHECK CONSTRAINT [FK_DiscountPartners_Partners]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_FamilyStatus] FOREIGN KEY([Id_family])
REFERENCES [dbo].[FamilyStatus] ([Id_status])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_FamilyStatus]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Health] FOREIGN KEY([Id_health])
REFERENCES [dbo].[Health] ([Id_health])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Health]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([Id_role])
REFERENCES [dbo].[Role] ([Id_role])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Logins_Employee] FOREIGN KEY([Id_user])
REFERENCES [dbo].[Employee] ([Id_employee])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Logins_Employee]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_TypeOfBusiness] FOREIGN KEY([Id_type])
REFERENCES [dbo].[TypeOfBusiness] ([Id_type])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_TypeOfBusiness]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([Id_type])
REFERENCES [dbo].[ProductType] ([Id_prodtype])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SizeUpakovka] FOREIGN KEY([Id_size])
REFERENCES [dbo].[SizeUpakovka] ([Id_size])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SizeUpakovka]
GO
ALTER TABLE [dbo].[ProductsMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterial_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductsMaterial] CHECK CONSTRAINT [FK_ProductsMaterial_Products]
GO
ALTER TABLE [dbo].[ProductsMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterial_TypeMaterial] FOREIGN KEY([Id_material])
REFERENCES [dbo].[TypeMaterial] ([Id_type_material])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductsMaterial] CHECK CONSTRAINT [FK_ProductsMaterial_TypeMaterial]
GO
ALTER TABLE [dbo].[ProductWorkshop]  WITH CHECK ADD  CONSTRAINT [FK_ProductWorkshop_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductWorkshop] CHECK CONSTRAINT [FK_ProductWorkshop_Products]
GO
ALTER TABLE [dbo].[ProductWorkshop]  WITH CHECK ADD  CONSTRAINT [FK_ProductWorkshop_Workshop] FOREIGN KEY([Id_workshop])
REFERENCES [dbo].[Workshop] ([Id_workshop])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductWorkshop] CHECK CONSTRAINT [FK_ProductWorkshop_Workshop]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Employee] FOREIGN KEY([Manager])
REFERENCES [dbo].[Employee] ([Id_employee])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Employee]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Partners] FOREIGN KEY([Id_partner])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Partners]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Status] FOREIGN KEY([Id_status])
REFERENCES [dbo].[Status] ([Id_status])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Status]
GO
ALTER TABLE [dbo].[RequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetails_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestDetails] CHECK CONSTRAINT [FK_RequestDetails_Products]
GO
ALTER TABLE [dbo].[RequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetails_Request] FOREIGN KEY([Id_request])
REFERENCES [dbo].[Request] ([Id_request])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestDetails] CHECK CONSTRAINT [FK_RequestDetails_Request]
GO
ALTER TABLE [dbo].[SaleHistory]  WITH CHECK ADD  CONSTRAINT [FK_SaleHistory_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleHistory] CHECK CONSTRAINT [FK_SaleHistory_Products]
GO
ALTER TABLE [dbo].[SaleHistory]  WITH CHECK ADD  CONSTRAINT [FK_SaleHistory_SalePoint] FOREIGN KEY([Id_point])
REFERENCES [dbo].[SalePoint] ([Id_point])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleHistory] CHECK CONSTRAINT [FK_SaleHistory_SalePoint]
GO
ALTER TABLE [dbo].[SalePoint]  WITH CHECK ADD  CONSTRAINT [FK_SalePoint_Partners] FOREIGN KEY([Id_partner])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalePoint] CHECK CONSTRAINT [FK_SalePoint_Partners]
GO
ALTER TABLE [dbo].[Workshop]  WITH CHECK ADD  CONSTRAINT [FK_Workshop_Employee] FOREIGN KEY([Id_employee])
REFERENCES [dbo].[Employee] ([Id_employee])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Workshop] CHECK CONSTRAINT [FK_Workshop_Employee]
GO
ALTER TABLE [dbo].[Workshop]  WITH CHECK ADD  CONSTRAINT [FK_Workshop_TypeWorkshop] FOREIGN KEY([Id_type])
REFERENCES [dbo].[TypeWorkshop] ([Id_type_workshop])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Workshop] CHECK CONSTRAINT [FK_Workshop_TypeWorkshop]
GO
USE [master]
GO
